
/*typo*/
*html {
	font: 16px;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75em;
}
p {
	font-size: 1.5em;
}
h1, h2, h3, h4, p {
	line-height: 1.375em;

}
* {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
/*Layout*/
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.content {
	width: 40%;
}
/*Navbar*/
nav {
	float: right;
	width: 8%;
	min-height: 100%;
	background: #696969;
	font-family: 'Anton', sans-serif;
	overflow: hidden;
	@include transition(width);
}
nav label {
	display: block;
	position: relative;
	width: 100%;
	padding: 3em;
	height: 2.5em;
	cursor: pointer;
	&:before {
		position: absolute;
		width: 100%;
		font-size: 2em;
		text-align: center;
		text-shadow: 2px 2px 0 #666;
		@include transition(all);
	}
	&:hover:before {
		text-shadow: none;
	}
}
:target {
	z-index: 2;
	opacity: 1;
}
.container {
  display: inline-block;
  cursor: pointer;
  float: left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 5px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
input {
	display: none;
}
input:checked ~ section {
	width: 85%;
}
input:checked ~ nav {
	width: 15%;
}
input:checked ~ nav > label:before {
	content: "\f00d";
}
input:checked ~ nav > label + .navigation {
	display: flex;
}
.navigation {
	display: none;
	flex-direction: column;
	width: 100%;
	z-index: 2;
}
.navigation a {
	display: block;
	padding: 4px;
	color: white;
	font-size: 1.5em;
	letter-spacing: 8px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 black;
}
ul {
	list-style-type: none;
}

/*Sections*/
section {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 95%;
	min-height: 100%;
	opacity: 0;
	overflow: hidden;
	transition: width 0.5s, opacity 0.5s;
}

/*Homepg*/
body {
	background: #000;
}
.container1 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.text1 {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	color: white;
	position: relative;
	animation: text 3s 1;
}
.text2 {
	font-size: 30px;
	color: orange;
	animation: small 4s;
}
.container1 span {
	text-transform: uppercase;
	display: block;
}
@keyframes text {
	0% {
		color: black;
		margin-bottom: -40px;
	}
	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}
@keyframes small {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
}

/*About*/
.sec-about {
	background: black;
	color: #fff;
}
.sec-about .content {
	height: 55%;
	text-align: center;
}
.about {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
}
#self {
	width: 600px;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	filter: grayscale(100%);
	transform: scaleX(-1);
	left: 0;
	margin-left: 0;
}
.content h1 {
	position: absolute;
	top: 50px;
	left: 80%;
}
.info {
	position: absolute;
	top: 20%;
	left: 50%;
	text-align: right;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 5px;
	font-size: 20px;
	line-height: 1.6;
}

/*Projects*/
.studio {
	background: black;
}
.project-head {
	color: white;
}
.project {
	position: absolute;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	right: 10%;
}
.studio1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	letter-spacing: 5px;
	position: absolute;
	top: 10%;
	left: 7%;
}

.container2 {
  position: relative;
  width: 20%;
}
.image {
  	display: block;
  	position: relative;
  	height: 100%;
	width: 100%;
	left: 32%;
	top: 200px;
}
.overlay {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 34%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  background-blend-mode: lighten;
}
.container2:hover .overlay {
  opacity: 1;
}
.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 5px;
}